/*--------------------------
     ENTÊTE DE LA PAGE 
---------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
header {
    position: relative;
    height: 96vmin;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background: rgba(42, 56, 64, 0.85);
}

.navbar {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0);
    font-size: 15.5px;
}

.nav-link {
    color: rgb(199, 205, 211);
}

/* Image de fond*/

.background img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------*/

.header-content {
    color: white;
    top: auto;
    z-index: -700;
    text-align: center;
    margin-bottom: 0;
}

fieldset.scheduler-border {
    border: 3px groove #F5F5F5;
    height: 25.5vmin;
    padding: 0 0.1px 0.1px 0.1px;
    margin: 0 0 1.5px 0;
}

legend.scheduler-border {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vmin;
    color: #6BCBC1;
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
}

#messg_accueil {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    margin-top: 10vmin;
    margin-bottom: 9vmin;
    width: 71vmin;
}

#messg_accueil h1 {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    font-size: 10vmin;
}

#messg_accueil p {
    font-size: 2.6vmin;
    padding: 0;margin: 0;
    line-height: 0px;
}

#messg_accueil .ville {
    font-size: 2.5vmin;
    padding: 0;margin: 0;
    line-height: 9vmin;
}


#waveimage {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0%;
}

/*--------------------------
    PRESENTATION DU MASTER
---------------------------*/

#prem_section_blanche {
    padding-top: 100px;
    padding-bottom: 120px;
}

.titre_souligne {
    /*On souligne les titres des sections partenaire et 
    témoignages*/
    font-size: 22px;
    color: #0C4A54;
    display: inline-block;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 25px 0 -23px rgb(107, 141, 146);
}

#temoignage {
    color: rgb(227, 235, 236);
}

#illustration {
    margin-bottom: 20px;
}

#enSavoirPlus {
    background-color: rgb(102, 76, 247)!important;
    border: none;
    color: white;
    font-weight: bold;
}

/*--------------------------
        TEMOIGNAGES
---------------------------*/

.text_fond {
    position: absolute;
    color: rgb(19, 91, 107);
    font-weight: bold;
    font-size: 12vh;
    text-align: center;
    margin-top: 50px;
    left: 0;
    right: 0;
}

.carousel {
    height: 200px;
}

@media (max-width:892px) {
    .carousel {
        height: 310px;
    }
    .text_fond {
        font-size: 7vh;
        margin-top: 90px;
    }
}

.nom_temoin {
    font-weight: bold;
    margin-top: 10px;
}

.profession_temoin {
    font-size: 15px;
    margin-top: -20px
}

/*--------------------------
        PARTENAIRES
---------------------------*/

#section_blanche {
    margin-bottom: 80px;
}

#logo_partenaires img {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}