

.navbar-nav li{
    margin-left:4px;
    margin-right:4px;}


#logo-text img{
    pointer-events: none;
    width: 13px;
    padding-bottom: 4px;}
	
	
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /* On change la couleur du nav pills*/
    color: #fff;
    background-color: #01AB99;
}

.navbar{
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.103);
    font-family: 'Proxima Nova Thin', Georgia, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 90px;
    }

.nav-link{
    color: rgb(64, 82, 94);}

.nav-link:hover{
    color: #01AB99;}
	
	
	
.navbar-toggler img{
    pointer-events: none;
}

.page-footer{
    background: rgb(50, 67, 77);
}

/* FOOTER */
footer{
    background:#2A3840;
    font-weight: bold;
    font-size: 75%;
    padding: 40px;
    overflow: hidden;}
  

  
footer p a{
    list-style: none;
    color: #BDCBD8;}

footer img{
    pointer-events: none;
}
	
	

.zone_centre{
    text-align: center;
    line-height:90px;
    color:rgb(160, 160, 160);}
       
.zone_centre a{
    text-decoration: none;
}

.zone_centre a:hover{
    color:#01AB99;
}
  

.zone_gauche{
    float: left;
    left: 20px;
    height: 110px;
    line-height:80px}

.zone_droite{
    float: right;
    left: 20px;
    height: 110px;
    line-height:80px}
	

/* SIDE MENU */

.overlay,.sideMenu{
    position:fixed;
    bottom:0}
  
.overlay{
    /*Fond noir transparent au dessous de la sidebar (optionel)*/
    top:0px;
    left:-100%;
    right:100%;
    margin:0px;
    background-color:rgba(0, 0, 0, 0);
    z-index:997;}
  
.overlay.open{
    left:0;right:0}
  
.sidebarNavigation{
    margin-bottom:0;
    z-index:999;
    justify-content:flex-start}
  
.sidebarNavigation .leftNavbarToggler{
    margin-right:10px;
    order:-1}
  
.sideMenu{
    background: #2A3840;
    left:-100%;
    top:0px;
    font-weight: bold;
    transition:all ease 0.3s;
    overflow:hidden;width:50%;
    z-index:999;
    max-width:80%;
    margin-bottom:0;
    padding:1rem}

.sideMenu.open{
    left:0;
    display:block;
    overflow-y:auto}
  
.sideMenu ul{margin:0;
    padding:0 5px}


/* RESPONSIVE SIDE MENU*/

@media (max-width:767px){
    .navbar{
        height: auto;}

    .logo-login img{
        display:block;}

    #logo-text {
       display: none;}

    
    .dropdown-menu{
        background: rgb(1, 171, 154);
        width: 190px;
    }

    .nav-link{
        color: rgb(205, 203, 206);}

    .navbar-nav{
        margin-left: 40%;
        left:320px;}

   
    .zone_gauche img{
        width:90px;
    }
  
}

/*-----------------------------------
--------- CONTENU DE LA PAGE -------
------------------------------------*/	
	
	
	
	
	
	



.main{
	margin-top:20px;
	margin-bottom:20px;
}

.info{
	padding:10px;
}
.infoLink{
    color: rgb(64, 82, 94);
}

.infoLink:hover{
    color: #01AB99;
}



.edit{
	margin-left:3px;
}
.edit>img{
	width:25px;
	padding:0px;
	margin:0px;
}

.delete{
	margin-left:3px;
}
.delete>img{
	width:25px;
	padding:0px;
	margin:0px;
}


.selection-scroll{
	 overflow-y:scroll;
	 height:450px;
}


.isAdmin{
	background-color:#AA2323;
}

.selection-scroll .card-header:hover{
	background-color:#ddd;
}

.selection-scroll .isAdmin:hover{
	background-color:#f00;
}

#accordeon .card{
	min-height:200px;
}
	
#accordeon .collapsing {
    -webkit-transition: none;
    transition: none;
}