.candidater_icone_cas{
    width:60px;}

.candidater_tableau{
    margin-left: auto;
    margin-right: auto;  
    width: 100%;}

.candidater_conteneur_tableau{
	margin-top: -200px;	
	margin-left: auto;
    margin-right: auto; 
    display: block;}

.candidater_cadre_tableau{	
	background-color: white;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-top:30px;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	max-width: 650px; 
	border-radius: 6px;
	box-shadow: 0px 2px 6px rgb(184, 184, 184);}

.candidater_tableau, .candidater_tableau tr{
    border-bottom: 1px solid #ddd;}

.candidater_tableau tr, .candidater_tableau td{
	padding-bottom:10px;
	padding-top:10px;}

.candidater_tableau_colonne_droite{
	text-align: right;}

.candidater_button button{
	margin-top: 80px;
	margin-bottom: 80px;
	background:#01AB99;
	color:white;
    font-weight :bold;}

.candidater_image{
	max-height: 200px;
	margin-left: auto;
    margin-right: auto;
    display: block;}

.candidater_titre_processus, .candidater_texte_date{
	font-size:14px;
	color:rgba(189, 189, 189, 0.849);
}

.candidater_texte_date{
	font-size:37px;
	font-weight: bold;
	color: rgb(228, 228, 228);
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	position: relative;
	top:26px;}

#section_grise{
	padding-bottom:200px;}

#prem_section_blanche{
	background-size: 450px;
	background-image:url(../../images/frontoffice/candidater_circle.svg);
	background-position: left -100px top -220px;
}




#section_grise a{
	color:#01AB99;
}

#section_grise a:hover{
	color:#01AB99;
}

.card .card-header{
    font-size: 11pt;
}

.texte_colore{
	color:rgb(0, 83, 75);
}