#prem_section_blanche{
    background-size: 500px;
	background-image:url(../../images/frontoffice/entreprise_circle.svg);
    background-position: left 85em top 40px;}


#collapseComm3 a{
    color: rgb(136, 117, 240);
}

.options { 
    margin-bottom:5px;}

    
.turquoise{
    color: #01AB99;
    font-size: 100%;
    font-weight:bold;
    margin-top: 5px;}

label{
    margin-top:5px;}

#prem_section_blanche li{
    color:#00617D;
}

.detail{
    width: 100%;}

thead tr th{
    /* Espace entre la colonne 1 et la colonne 2*/
    width: 50%;}
    
#ta{
    color:rgb(136, 117, 240);
    font-weight: bold;}

.card h3{
    color: #01AB99;
    font-weight:bold;
    font-size: 100%;
    margin-top:10px;}
    
#responsiveButt{
    margin-left: 20%;
    margin-right: 20%;
    margin-top:50px;
    margin-bottom: 120px;}

@media (max-width:992px){
    /* En mode responsive, on recentre les boutons*/
    #responsiveButt{
        margin-left: 0%;
        margin-right: 0%;}   
}

#proj_btn{
    font-weight: bold;
    background-color: rgb(136, 117, 240);
    margin-bottom: 40px;
    border: none;}

#depot{
    background-color:#01AB99;
    font-weight: bold;
    border: none;
}

#valid_btn{
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    font-weight: bold;}

#myModal{
    width: 100%;}  

#myModal input{
    margin-bottom: 20px;}


.form-control{
    background: rgb(248, 248, 248);
}

.card .card-header{
    font-size: 11pt;
}

.modal-dialog {
    max-width: 130vmin;
}

#prem_section_blanche a{
    color:rgb(7, 60, 75);
    text-decoration: none;
}

#prem_section_blanche a:hover{
    color:rgb(0, 187, 168);
}