body{
    background: #2A3840;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#connexion_modal{  
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.senregistrer .btn{
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

.form-group .btn{
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

.logo{
    color:rgba(255, 255, 255, 0.829);
    text-align: center;
    margin-top:70px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.logo img{
    pointer-events: none;
    opacity: 0.5;
    width:80px;
}

.logo h5{
    margin-top:20px;
}

.retour{
    color:white;
    text-align: center;
    margin-top:60px;
    margin-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}


.retour a{
    color:rgba(255, 255, 255, 0.418);
    font-size: 9pt;

}

