main{
    background:linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.9)), url(../../images/frontoffice/motresponsable.jpg);
    background-repeat: repeat;
    background-size: cover;
    position:relative;}


.mention-content{
    top:125px;
    background-color:white;
    padding:50px;
    border-radius: 4px;
}


.grey-zone{
margin-bottom: 50px;
}

.grey-zone-content{
    background-color: rgb(246, 246, 246); 
    border-radius: 4px; 
    padding: 30px;
}
.grey-zone-content h5{
    margin-bottom: 30px;
}

.titre-zone{
    color: #01AB99;
    font-weight: bold;
}

.grey-zone-content p { margin:0}
.grey-zone-content h6 { 
    font-weight: bold;
    color: #2A3840;
    font-size: 11.2pt;
    margin-top: 10px;

}
