main{
    background:linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.9)), url(../../images/frontoffice/motresponsable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;}

article {
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-columns: 2 200px;
       -moz-columns: 2 200px;
            columns: 2 200px;}

#nom{
    margin-top: 40px;}

main p{
    font-size: 11pt;
    color:#B4BCBB;
    font-weight: 125px;}

.titre1{
    font-weight: bold;
    color: white;
    font-size: 18px;}

.titre2{
    font-weight: bold;
    color: #1EA18F;
    font-size: 18px;
    margin-bottom: 30px;}


    

