#zone_info {
    background: rgb(255, 255, 255);
    position: relative;
    bottom: 150px;
}


#zone_formulaire {
    position: relative;
    bottom: 100px;
}

.aContact h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.111);
    position: relative;
    bottom: 80px;
}


#info_localisation p {
    margin: 0;
    padding: 0;
}

#plan_bat_button {
    background-color: rgb(136, 117, 240) !important;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 40px;
}

#prem_section_blanche {
    padding-top: 100px;
    padding-bottom: 170px;
    background-size: 550px;
    background-image: url(../../images/frontoffice/nous_trouver_circle.svg);
    background-position: left -170px top -360px;
}

#prem_section_blanche a {
    color: rgb(136, 117, 240);
}

#section_grise {
    padding-bottom: 200px;
}

#icon img {
    margin-left: 50%;
    margin-top: 50%;
}

.aBientot h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.103);
}

.planBatiment {
    width: 80%;
}

.modal-dialog {
    max-width: 100vmin;
}

.modal-content {
    width: 100%;
}

.card {
    box-shadow: 0px 3px 5px 3px rgba(170, 170, 170, 0.158);
}

@media (max-width: 992px) {
    #zone_info {
        text-align: center;
    }

    #icon img {
        margin-left: 0%;
        margin-top: 0%;
    }

    #zone_formulaire .btn {
        margin-left: auto;
        margin-right: auto;
    }
}