#prem_section_blanche{
	background-size: 500px;
	background-image:url(../../images/frontoffice/programme_circle.svg);
	background-position: left -90px top -200px;}

#section_grise{
    padding-top:70px;
    padding-bottom:150px}


#section_grise a{ 
    color: #0C4754; } /* CSS link color */

#deb {
    font-weight: bold;
    color: #01AB99;}

#pic{
    background-image: url(../../images/frontoffice/programme_laurier.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 420px;}

.titre_card{
        font-size:14px;
        color:rgba(189, 189, 189, 0.849);
}

#debouches p, ul{
    font-size: 11pt;}

#section_grise h5 {
    color: orange;}

#section_grise{
    padding-top:50px;}

#section_grise a:hover{
    color:#01AB99;
    text-decoration: none;
}

.modal-title{
    font-weight: bold;
    font-size: 13pt;
}

@media (max-width:992px){
    .domainCompt{
        margin-top: 40px;
    }    
}