#section_bleuFonce{
    background:url(../../images/frontoffice/projet_background.png), linear-gradient(rgba(50, 62, 69, 1), rgba(50, 62, 69, 1));
    background-repeat: repeat;
    background-size: cover;
    color:rgb(149, 157, 158);
    padding-top:70px;
    padding-bottom:70px;
    text-align: center;
}


#section_bleuFonce button{
    font-weight: bold;}

#section_bleuFonce h2{
    color:rgb(228, 225, 225);
    margin-bottom: 18px;}

#section_bleuFonce p{
    color:rgb(224, 220, 220);
}

#trier{
    background-color: rgb(136, 117, 240);
    color:white;
}

/* Position de la barre de filtre*/
#form-group{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/*----- PROJETS -------*/
.wrapper .card{
    border-radius: 6px;
}

#section_grise .card-header{
    color: #01AB99;
    font-weight: bold;
    font-size: 12pt;}

#section_grise h4{
    color: #323E45;
    font-weight: 600;
    font-size: 12pt;}

#section_grise, #section_bleuFonce p{
    font-size: 10.2pt;}

#titreAnnee{
    font-weight: bold;
    color:rgb(201, 201, 201);
    margin-bottom: 32px;
}

/*----- DISPOSITION AUTOMATIQUE DES PROJETS -------*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;}

@media (max-width:992px){
    /* En mode responsive on affiche une seule colonne*/
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
}