@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 56, 70);
    font-weight: 500;
    font-size: 15px;
}

h2 {
    color: rgb(7, 60, 75);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 18px;
}

footer img {
    /* protection des images*/
    pointer-events: none;
}


/* Opacité du fond, lorsque les modales s'ouvrent*/
.modal-backdrop {
    opacity: 0.8 !important;
}

#contenu {
    text-align: center;
}

#prem_section_blanche {
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
}

#prem_section_blanche img {
    /* protection des images*/
    pointer-events: none;
}

#section_blanche {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 70px
}

#section_grise {
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 70px;
    min-height: 400px;
}

#section_bleuClaire {
    /*background-color: #EAF0F5;
    color:#0C4754;*/
    background-color: rgb(17, 86, 102);
    color: rgb(191, 213, 218);
    padding-top: 50px;
    padding-bottom: 70px
}


.card {
    color: #00617D;
    box-shadow: 0px 2px 6px rgba(184, 184, 184, 0.616);
    border: none;
    margin-bottom: 30px;
}

.card .card-header {
    font-weight: 700;
    background: rgb(250, 250, 250);
}

.card p {
    color: #0C4754;
}

/* Entête des tableaux*/
thead {
    background: #0C4754;
    font-weight: bold;
    color: rgb(233, 233, 233);
}


/*--------------------------
    BARRE DE NAVIGATION
---------------------------*/

.nav-pills .active {
    background-color: rgba(0, 250, 0, 0.5);
}

.navbar-nav li {
    margin-left: 4px;
    margin-right: 4px;
}

#logo-text img {
    width: 13px;
    padding-bottom: 4px;
}

.logo-login img {
    display: none;
    width: 25px;
    padding-bottom: 4px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /* On change la couleur du nav pills*/
    color: rgb(255, 255, 255);
    background-color: #01AB99;
}

.navbar {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.151);
    font-weight: 700;
    height: 90px;
    width: 100%;
}

.nav-link {
    color: rgb(64, 82, 94);
    letter-spacing: -0.3px;
    font-size: 11pt;
}

.nav-link:hover {
    color: #01AB99;
}

.dropdown-menu {
    background: #01AB99;
}

.dropdown-item {
    color: white;
    font-weight: 700;
    font-size: 10pt;
}

/*---------------------------------
MODAL DE CONNEXION A L'ESPACE PRIVE
---------------------------------*/
.modal-header h4 {
    font-size: 17px;
    font-weight: bold;
}

.modal-body {
    margin-left: 8px;
    margin-right: 8px;
}

.forgot_password {
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
}

#connexionModal .form-check-label {
    margin-bottom: 10px;
    font-size: 9.5pt;
}

#connexionModal .btn {
    margin-left: auto;
    margin-right: auto;
}

#connexionModal #seConnecter {
    width: 100%;
}


/*-------------------------------
MENU SUR LE COTE (VERSION MOBILE)
-------------------------------*/

.overlay, .sideMenu {
    position: fixed;
    bottom: 0
}

.overlay {
    /*Fond noir transparent au dessous de la sidebar (optionel)*/
    left: -100%;
    right: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
}

.overlay.open {
    left: 0;
    right: 0
}

.sidebarNavigation {
    margin-bottom: 0;
    z-index: 999;
    justify-content: flex-start
}

.sidebarNavigation .leftNavbarToggler {
    margin-right: 10px;
    order: -1
}

.sideMenu {
    color: rgb(206, 206, 206);
    background: #2A3840;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    left: -100%;
    top: 0px;
    font-weight: bold;
    transition: all ease 0.3s;
    overflow: hidden;
    width: 50%;
    z-index: 999;
    width: 230px;
    margin-bottom: 0;
    padding: 1rem
}

.sideMenu.open {
    left: 0;
    display: block;
    overflow-y: auto
}

.sideMenu ul {
    margin: 0;
    padding: 0 5px
}

@media (max-width: 992px) {
    .navbar {
        height: auto;
    }

    .navbar-brand img {
        margin-left: auto;
        margin-right: auto;
    }

    .logo-login img {
        display: block;
    }

    #logo-text {
        display: none;
    }

    .dropdown-menu {
        background: rgb(1, 171, 154);
    }

    .nav-link {
        color: rgb(205, 203, 206);
    }

    #prem_section_blanche {
        text-align: center;
    }

    #prem_section_blanche img {
        margin-bottom: 20px;
    }

    #reseaux {
        margin-top: 0px;
    }

}


/*-------------------------------------
 FENETRES DE CONNEXION A L'ESPACE PRIVE 
-------------------------------------*/

.modal {
    margin-left: auto;
    margin-right: auto;
}

.modal label {
    font-size: 15px;
}

#connexionModal {
    max-width: 400px;
}

/*--------------------------
          FOOTER
---------------------------*/

footer {
    background: #2A3840;
    font-weight: bold;
    font-size: 75%;
    padding: 40px;
    overflow: hidden;
}

footer p a {
    list-style: none;
    color: #BDCBD8;
}

.zone_centre {
    line-height: 90px;
    color: rgb(160, 160, 160);
}

.zone_centre a {
    text-decoration: none;
}

.zone_centre a:hover {
    color: #01AB99;
}

#reseaux {
    margin-top: 18px;
}

