#prem_section_blanche{
	background-size: 500px;
	background-image:url(../../images/frontoffice/temoignage_circle.svg);
	background-position: left 80em top 40px;}


#prem_section_blanche a{
	color:#01AB99;
	text-decoration: none;
}
	
#prem_section_blanche a:hover{
	color:rgb(0, 211, 190);
}