
.corps_message{
	resize: none; 
	width: 100%;
}

.piece-jointe{
	margin-top: 20px;
}

.titre-mail{
	color:rgb(90, 90, 90);
	font-size: 12pt;
	margin-bottom: 15px;
}

#nouveau-message{
	width: 100%;
	background-color: rgb(64, 127, 209);
}

.option-titre{
	font-size: 10pt;
	color:rgb(180, 180, 180);
	font-weight: bold;
}

#content a{
	text-decoration: none;
}

#options-mail .badge{
    margin-top: 0px;
}

.modal-body img{
	width: 130px;
}