
.vert{
    color: rgb(0, 168, 0);
}

.rouge{
    color: red;
}

.card-header{
    color:rgb(148, 148, 148);
}

.card-footer .btn{
    max-width: 100%;
}

#content h6{
    margin-top: 15px;
    color: #01AB99;
}

#download_button{
    font-size: 9pt;
}


@media (max-width:992px) {
    #download_button{
        margin-top: 0px;
    }
}