@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #ecedf4;
    color: #8085a1;
    font-size: 10pt;
}

img {
    pointer-events: none;
}

.loading {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10000;
    overflow-y: hidden;
    max-width: 100% !important;
    overflow-x: hidden;
}

.loading img {
    width: 100px;
    transform: translateY(-50%);
    position: relative;
    z-index: 100;
    top: 50%;
    overflow-y: hidden;
    display: block;
    margin: auto;
}

.loading::-webkit-scrollbar {
    display: none;
}

.erreurs {
    /* Pour les messages d'erreur de Laravel*/
    color: red;
    font-size: 9pt;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
               BARRE DE MENU - DROITE
--------------------------------------------------- */

.badge {
    font-size: 8pt;
    background: #358FC0;
    float: right;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.badgeVert {
    font-size: 8pt;
    background: #00A957;
    float: right;
    color: white;
}

.badgeVertB {
    font-size: 8pt;
    background: #009C8A;
    float: right;
    color: white;
}

.badgeJaune {
    font-size: 8pt;
    background: rgb(185, 114, 8);
    float: right;
    color: white;
}

.badgeRose {
    font-size: 8pt;
    background: #F1635F;
    float: right;
    color: white;
}

.badgeBleuClaire {
    font-size: 8pt;
    background: rgb(185, 79, 8);
    float: right;
    color: white;
}

.badgeOrange {
    font-size: 8pt;
    background: #E24A3C;
    float: right;
    color: white;
}

.info_utilisateur {
    padding-top: 10px;
}

.info_utilisateur p {
    margin-bottom: 0.1em;
}

/* Photo de profil */
.info_utilisateur img {
    margin-top: 0.6em;
    margin-bottom: 1em;
    max-width: 65px;
    max-height: 65px;
    min-width: 65px;
    min-height: 65px;
}

.nav img {
    max-width: 27px;
    max-height: 27px;
    min-width: 27px;
    min-height: 27px;
}

.nom_utilisateur {
    font-weight: bold;
    font-size: 10pt;
}

.statut_utilisateur {
    font-size: 9pt;
}

/* ---------------------------------------------------
    CONTENU DE LA PAGE
----------------------------------------------------- */
#content {
    margin: 30px;
    margin-top: 0px;
}

.titre_page {
    font-size: 13pt;
    margin-bottom: 20px;
    color: rgb(199, 207, 214);
}

.card {
    margin-bottom: 40px;
}

.dataTable .btn-sm {
    font-size: 9pt;
}

#stat_zone_bleu {
    color: white;
    background-color: #4099FF;
}

#stat_zone_rouge {
    color: white;
    background-color: #FF5370;
}

#stat_zone_vert {
    color: white;
    background-color: #2ED8B6;
}

#stat_zone_orange {
    color: white;
    background-color: #FFB64D;
}

#stat_zone_grise h3 {
    color: rgb(121, 121, 121);
}

.card {
    box-shadow: 0px 2px 6px rgba(215, 217, 235, 0.62);
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .titre_page {
        text-align: center;
    }
}

/* ---------------------------------------------------
                    BOUTONS
----------------------------------------------------- */

input, textarea, select {
    outline: none;
    box-shadow: none !important;
}

.btn-primary {
    background-color: #5d78ff;
    border-color: #5d78ff;
    color: #ffffff;
}

/* Datatable link color */

.page-item {
    border: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5d78ff;
    border-color: #5d78ff;
}

a.page-link {
    color: #5d78ff;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border-color: #ebebf2 !important;
}

table, th {
    border-bottom: 1px solid #ebebf2 !important;
    color: #6F7595;
}

/* **********************************************************************************************
                                    HEADER DE DES PAGES 
**************************************************************************************************/

/* Couleur du text dans la sidebar*/
#slide-out ul li a {
    color: #9d9fb9;
    text-decoration: none;
}

/* Quand on pose la souris sur un lien*/
#slide-out ul li a:hover {
    color: #b4b6d4;
    background: #1c1c2b;
}

/* Bouton menu actif*/
#slide-out ul li.active > a {
    color: #d6d9f9;
    background: #181824;
}

.collapse {
    background-color: #181824;
    border-bottom: 1px solid #2d2d4b;
    border-top: 1px solid #2d2d4b;
}

.nav a {
    text-decoration: none;
}

.nav .navbar a:hover {
    color: #1c1c2b;
}

.espace_prive {
    font-weight: bold;
    margin-left: 12px;
    font-size: 9pt;
    color: rgba(1, 171, 154, 0.733);
}

/* Ombre sous la bar de navigation*/
.navbar, .side-nav, .side-nav .logo-wrapper.sn-avatar-wrapper img {
    box-shadow: 0 2px 5px 0 rgba(226, 226, 226, 0.04), 0 2px 10px 0 rgba(223, 223, 223, 0.12)
}

.side-nav {
    background-color: #1e1e2d;
    position: fixed;
    width: 17rem;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -webkit-backface-visibility: hidden;
    -webkit-background-size: cover;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1040;
    will-change: transform;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.side-nav::-webkit-scrollbar {
    width: 12px;
}

.side-nav:hover::-webkit-scrollbar {
    width: 12px;
}

.side-nav::-webkit-scrollbar-track {
    background: #202d3b;
}

.side-nav::-webkit-scrollbar-thumb {
    background: #526170;
}

.side-nav::-webkit-scrollbar-thumb:hover {
    background: #858a91;
}

/* Fond noir transparent*/
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 997;
    will-change: opacity
}

.side-nav > ul {
    max-height: 100vh
}

.side-nav ul {
    list-style: none;
    padding-left: 0
}

.side-nav ul li {
    padding: 0
}

.side-nav.right-aligned {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed
}

.side-nav.fixed.right-aligned {
    right: 0;
    left: auto
}

.side-nav .collapsible {
    margin: 1rem 0 0;
    padding: 0
}

.side-nav .collapsible li a:hover {
    background-color: rgba(0, 0, 0, .15);
}

.side-nav .collapsible > li {
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.side-nav .collapsible > li a.collapsible-header.active, .side-nav .collapsible > li a.collapsible-header:hover {
    background-color: rgba(255, 255, 255, .15)
}

.side-nav .collapsible a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
    height: 36px;
    line-height: 36px
}

.side-nav .collapsible a.active, .side-nav .collapsible a:hover {
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.side-nav .collapsible .fab, .side-nav .collapsible .far, .side-nav .collapsible .fas {
    font-size: .8rem;
    margin-right: 13px
}

.side-nav .collapsible-body a {
    padding-left: 47px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .15)
}

.side-nav a {
    display: block;
    font-size: 9pt;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
}

.side-nav .logo-wrapper {
    border-bottom: 1px solid rgba(153, 153, 153, .3);
    height: 8.75rem
}

.side-nav .about, .side-nav .search-form input[type=text], .side-nav .social {
    border-bottom: 1px solid rgba(255, 255, 255, .65)
}

.side-nav .logo-wrapper a {
    height: 8.75rem;
    width: 15rem;
    padding: 0
}

.side-nav .logo-wrapper img {
    height: auto;
    padding: 20% 50px
}

@media (max-height: 992px) {
    .side-nav .logo-wrapper, .side-nav .logo-wrapper a {
        height: 80px
    }

    .side-nav .logo-wrapper img {
        padding-top: 7%;
        padding-bottom: 7%
    }
}

.side-nav .logo-wrapper.sn-avatar-wrapper {
    padding: 10% 33%
}

.side-nav .logo-wrapper.sn-avatar-wrapper img {
    margin: 0;
    padding: 0;
    max-width: 90px
}

@media only screen and (max-height: 992px) {
    .side-nav .logo-wrapper.sn-avatar-wrapper {
        padding-left: 40%;
        padding-right: 40%
    }

    .side-nav .logo-wrapper.sn-avatar-wrapper img {
        max-width: 50px
    }
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper {
    height: auto;
    margin-bottom: 0
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper img {
    max-width: 3.75rem;
    padding: 1.25rem .63rem;
    float: left
}

.side-nav .logo-wrapper.sn-ad-avatar-wrapper p {
    font-size: .94rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 0
}

.fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
    padding-left: 17rem
}

@media (max-width: 992px) {
    .double-nav {
        padding-top: 4px;
        padding-bottom: 4px
    }
}

@media (max-width: 768px) {
    .double-nav .container {
        padding-left: 0;
        padding-right: 0
    }
}

.double-nav a {
    font-size: 15px;
    color: #fff
}

.double-nav .breadcrumb-dn p {
    margin: 0;
    padding-top: 0;
    padding-left: 1rem
}

@media (max-width: 993px) {
    .double-nav .breadcrumb-dn {
        display: none
    }
}

.double-nav .button-collapse {
    position: absolute;
    left: 10px;
    font-size: 1.5rem
}

/* Modif ici*/
@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        -webkit-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        transform: translateX(-105%)
    }

    .side-nav.fixed.right-aligned {
        -webkit-transform: translateX(105%);
        -ms-transform: translateX(105%);
        transform: translateX(105%)
    }
}

@media (max-width: 992px) {
    .fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
        padding-left: 0
    }
}

@media (min-width: 992px) {
    .double-nav .button-collapse {
        display: none
    }
}

@media (max-width: 992px) {
    .double-nav .button-collapse {
        display: block;
        position: relative;
        font-size: 1.4rem;
        margin-right: 10px;
        margin-left: 10px
    }
}

/* Menu se déconnecter*/
.white-skin .navbar .navbar-nav .nav-item a, .white-skin .navbar.double-nav a {
    color: #3a3a5f
}

/* Permet de reduire la taille de la barre de navigation en mode responsive et quand on scroll*/

@media (min-width: 600px) {
    .navbar .dropdown-menu form {
        width: 22rem
    }

    .navbar.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -o-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        padding-top: 12px;
        padding-bottom: 12px
    }

    .navbar.scrolling-navbar .navbar-nav > li {
        -webkit-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s
    }

    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 5px;
        padding-bottom: 5px
    }
}

/* Couleur de la zone photo de profil*/

#toast-container > div, .card.card-cascade .view.view-cascade.gradient-card-header, .clockpicker-display .clockpicker-display-column #click-am.text-primary, .clockpicker-display .clockpicker-display-column #click-pm.text-primary, .clockpicker-display .clockpicker-display-column .clockpicker-span-hours.text-primary, .clockpicker-display .clockpicker-display-column .clockpicker-span-minutes.text-primary, .darktheme .picker__box .picker__calendar-container .clockpicker-plate .clockpicker-tick, .darktheme .picker__box .picker__date-display .clockpicker-display, .darktheme .picker__box .picker__date-display .clockpicker-display .clockpicker-span-am-pm, .darktheme .picker__box .picker__footer button, .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover, .dropleft .dropdown-menu .dropdown-item:active, .dropleft .dropdown-menu .dropdown-item:hover, .dropright .dropdown-menu .dropdown-item:active, .dropright .dropdown-menu .dropdown-item:hover, .dropup .dropdown-menu .dropdown-item:active, .dropup .dropdown-menu .dropdown-item:hover, .picker--focused .picker__list-item--selected, .picker--time .picker__button--clear:focus, .picker--time .picker__button--clear:focus:before, .picker--time .picker__button--clear:hover, .picker--time .picker__button--clear:hover:before, .picker__box .picker__header .picker__date-display, .picker__box .picker__table .picker--focused, .picker__box .picker__table .picker__day--outfocus, .picker__box .picker__table .picker__day--selected, .picker__box .picker__table .picker__day--selected:hover, .picker__date-display, .picker__date-display .clockpicker-display .clockpicker-display-column #click-am.text-primary, .picker__date-display .clockpicker-display .clockpicker-display-column #click-pm.text-primary, .picker__date-display .clockpicker-display .clockpicker-display-column .clockpicker-span-hours.text-primary, .picker__date-display .clockpicker-display .clockpicker-display-column .clockpicker-span-minutes.text-primary, .picker__list-item--selected, .picker__list-item--selected:hover, .side-nav, .side-nav .search-form .form-control, .toast-close-button, .toast-message a, .toast-message label, .white-text {
    color: #f3f2ff !important
}

#main-navbar {
    border-bottom: 1px solid #e7e7e7;
    height: 60px;
}

#second-navbar {
    margin-top: 60px;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    font-weight: 300;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 2px 6px rgba(182, 184, 202, 0.62);
}

.page-title {
    font-size: 12pt;
    font-weight: 500;
    color: #5e5b75;
}

.navbar form .md-form input {
    margin: 0 5px 1px 8px
}

.navbar .breadcrumb {
    margin: 0;
    padding: .3rem 0 0 1rem;
    background-color: inherit;
    font-size: 15px;
    font-weight: 300
}

.navbar .breadcrumb .breadcrumb-item {
    color: #fff
}

.navbar .breadcrumb .breadcrumb-item.active, .navbar .breadcrumb .breadcrumb-item:before {
    color: rgba(255, 255, 255, .65)
}

.navbar .navbar-toggler {
    outline: 0;
    border-width: 0
}

.navbar .nav-flex-icons {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.navbar .nav-item .nav-link {
    display: block
}

.navbar .nav-item .nav-link.disabled:active {
    pointer-events: none
}

.navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far, .navbar .nav-item .nav-link .fas {
    padding-right: 3px;
    padding-left: 3px
}

@media (max-width: 992px) {
    .navbar .container {
        width: 100%
    }

    .navbar .container .navbar-toggler-right {
        right: 0
    }

    .navbar .nav-item .nav-link {
        padding-right: 6px;
        padding-left: 6px
    }
}

.navbar .dropdown-menu {
    position: absolute !important;
    margin-top: 0
}

.navbar .divider {
    border-bottom: 1px solid #e8e8e8;
}

.navbar .dropdown-menu a {
    padding: 10px;
    font-size: .9375rem;
    font-weight: 300;
    color: #000;
}

@media (max-width: 600px) {
    .navbar .dropdown-menu form {
        width: 17rem
    }
}

/* Couleur de la navbar*/
.white-skin .navbar {
    background-color: #fff;
    color: #424242
}

/* On définit la position du contenu de la page en fonction de la barre de menu*/
.fixed-sn main, .hidden-sn main {
    padding-top: 5.5rem
}

@media (min-width: 600px) {
    .fixed-sn .page-footer .container-fluid, .fixed-sn main {
        margin-left: 2%;
        margin-right: 2%
    }
}

@media (min-width: 992px) {
    .fixed-sn .page-footer .container-fluid, .fixed-sn main {
        margin-left: 5%;
        margin-right: 5%
    }
}

@media (min-width: 1200px) {
    .fixed-sn .page-footer .container-fluid, .fixed-sn main {
        margin-left: 6%;
        margin-right: 6%
    }
}

/* Permet de ne pas concerver la hauteur de la barre de navigation quand on clique sur le bouton dropdown   */
.waves-effect .waves-ripple {
    position: absolute;
}
